    <p class="tag-box">Welcome back {{blogUser.userName}}</p>
</header>
<main>
    <ul>
        {{#each blogUser.Blogs}}
        <li>
            <a href="/dashboard/blog/{{id}}" class="card-link">
                <section class="card">
                    <h1 class="cardhead">{{title}}</h1>
                    <div class="card-body">
                        <h3>{{content}}</h3>
                    </div>
                    <p class="card-tag">At {{createdAt}}</p>
                </section>
            </a>
        </li>
        {{/each}}
    </ul>
    <a href="/dashboard/blog/create" class="create-button">create</a>
</main>